.menu-button
  @media (min-width: 2561px)
    display none
  display inline-block
  float left
  padding 13px 13px
  border-right 1px solid rgba(204, 204, 204, 0.55)
  &:hover
    cursor: pointer
    .icon
      color: grey900
  .icon
    font-size 28px
    color: grey700