.box
  .box-body
    cf()
  .title
    border-bottom 1px solid grey2
    z-index 0
    padding 15px
    padding-bottom 11px
    background-color #fff
    color #212121
    font-size: 14px
    padding: 12px 15px
    padding-bottom: 10px
    cf()
    position relative
    .tools
      position absolute
      top -2px
      right 2px
    // font-family: 'Roboto Condensed', sans-serif